<h2>Startseite</h2>

<h3>Die Letzten 5 hinzugefügten Filme</h3>
<ul>
  <% @movies_new.each do |movie| %>
    <li><%= "#{movie.title} - hinzugefügt von #{movie.created_by_id.full_name}" %></li>
  <% end %>
</ul>

<h3>Die Letzten 5 aktualisierten Filme</h3>
<ul>
  <% @movies_updated.each do |movie| %>
    <li><%= "#{movie.title} - aktualisiert von #{movie.updated_by_id.full_name}" %></li>
  <% end %>
</ul>

<%= link_to "Profil bearbeiten", edit_user_path(@current_user) %>
<%= link_to "Abmelden", logout_path, method: :delete %>
