<h2>Startseite</h2>
<p>Ideen für die Startseite? Bitte bei Philip melden!</p>

<h3>Die Letzten 5 bewerteten Filme</h3>
<ul>
  <% @last_ratings.each do |rating| %>
    <li><%= "#{rating.user.full_name} hat #{rating.movie.title} bewertet" %></li>
  <% end %>
</ul>

<h3>Die Letzten 5 gesehenen Filme</h3>
<ul>
  <% @movies_seen.each do |seen_movie| %>
    <li><%= "#{seen_movie.user.full_name} hat #{seen_movie.movie.title} vor #{time_ago_in_words(seen_movie.created_at)} als gesehen markiert" %></li>
  <% end %>
</ul>